
.vs/gearproj/v15/.suo
gearproj/obj/Debug/CoreCompileInputs.cache
gearproj/obj/Debug/CoreCompileInputs.cache
.vs/gearproj/v15/.suo
gearproj/obj/Debug/gearproj.csproj.GenerateResource.Cache
gearproj/obj/Debug/CoreCompileInputs.cache
.vs/gearproj/v15/.suo
gearproj/obj/Debug/CoreCompileInputs.cache
gearproj/obj/Release/gearproj.Migrations.aaa.resources
gearproj/obj/Debug/gearproj.csprojResolveAssemblyReference.cache
gearproj/obj/Debug/gearproj.csproj.GenerateResource.Cache
gearproj/obj/Debug/gearproj.csproj.GenerateResource.Cache
.vs/gearproj/v15/.suo
gearproj/obj/Debug/build.force
gearproj/obj/Debug/CoreCompileInputs.cache
gearproj/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
